pkgbase = jcloisterzone
	pkgdesc = Java implementation of Carcassonne board game.
	pkgver = 5.12.1
	pkgrel = 0
	url = http://jcloisterzone.com/en/
	arch = x86_64
	license = AGPL
	makedepends = yarn
	makedepends = libxcrypt-compat
	depends = java-runtime>=11
	options = !strip
	source = jcloisterzone-5.12.1.tar.gz::https://github.com/farin/JCloisterZone-Client/archive/refs/tags/v5.12.1.tar.gz
	source = JCloisterZone-Client.patch
	sha256sums = 41b7d81f95d7eec250fa77ee481d109b127c71d70e3ca674ee435111460490c8
	sha256sums = 18697bee5a84e81768ef48b60c620ac85e71601541b4c810ebbf9fc67a8b6040

pkgname = jcloisterzone
